.student {
  font-size: 2rem;
  border: 1px solid hsl(0, 0%, 50%);
}

.card {
  max-width: 250px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 1);
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  display: inline-block;
}

.card-img {
  max-width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card-title,
.card-text {
  font-family: Arial, sans-serif;
}

.card-title {
  margin: 0;
  color: hsl(0, 0, 20%);
}

.card-text {
  margin-top: 0.5rem;
  color: hsl(0, 0, 30%);
}
